CompileFlags:
  Add:
    - -I.
    - -Iinclude
    - -Ilib/tmc2209/include
    - -IC:/Users/Yarik/.platformio/packages/framework-stm32cubef1/Drivers/STM32F1xx_HAL_Driver/Inc
    - -IC:/Users/Yarik/.platformio/packages/framework-stm32cubef1/Drivers/STM32F1xx_HAL_Driver/Inc/Legacy
    - -IC:/Users/Yarik/.platformio/packages/framework-stm32cubef1/Drivers/CMSIS/Device/ST/STM32F1xx/Include
    - -IC:/Users/Yarik/.platformio/packages/framework-stm32cubef1/Drivers/CMSIS/Include
    - -DSTM32F103xB
    - -DUSE_HAL_DRIVER
